<section class="intro_section page_mainslider ds"> <img src="./assets/images/slide01.jpg" alt="">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="slide_description_wrapper">
                    <div class="slide_description">
                        <div class="intro-layer to_animate" data-animation="fadeInUp">
                            <h2> <span class="small">Welcome to</span> SHANTII'S World </h2>
                        </div>
                    </div>
                    <!-- eof .slide_description -->
                </div>
                <!-- eof .slide_description_wrapper -->
            </div>
            <!-- eof .col-* -->
        </div>
        <!-- eof .row -->
    </div>
    <!-- eof .container -->
</section>