<!-- template sections -->
<section class="page_topline ds table_section table_section_sm section_padding_top_10 section_padding_bottom_10">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-center text-sm-left"> <span class="small-text rightpadding_20 hidden-sm">follow us:</span> <span>
        <a class="social-icon socicon-facebook" href="https://www.facebook.com/shantii823" target="_blank" title="Facebook"></a>
        <a class="social-icon socicon-twitter" href="https://twitter.com/Shantii823" target="_blank" title="Twitter"></a>
        <a class="social-icon socicon-instagram" href="https://www.instagram.com/shantii823" target="_blank" title="Instagram"></a>
        <a class="social-icon socicon-youtube" href="https://www.youtube.com/channel/UCR5ROZV6CI4RSxqQL8XuJtw" target="_blank" title="Youtube"></a>
        
    </span> </div>
            <div class="col-sm-6 text-center text-sm-right">
                <div class="inline-content small-text greylinks">
                    <div>
                        <a href="shop-cart-right.html" class="cart-button">
                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            <span class="total-price">
                                $1385.00
                            </span>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>