<section id="about" class="ds ms page_about parallax section_padding_top_130 section_padding_bottom_75 table_section table_section_md columns_margin_bottom_30">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="with_frame_image"> <img src="./assets/images/about.jpg" alt="" class="rounded"> </div>
            </div>
            <div class="col-md-6">
                <h2 class="section_header with_line">The Crowned Princess</h2>
                <p class="fontsize_20">17 year old Shantii isn’t just another pretty face she brings that contagious and infectious flow back that we haven’t seen or heard in the rap game in a while. Once you hear her delivery you are sure to become a fan of her music so without further ado, </p>

                <div class="content-justify vertical-center content-margins topmargin_25">
                    <div>
                        <h3 class="highlight bottommargin_0">Welcome to SHANTII'S world.</h3>
                    </div>
                </div>

                <img src="./assets/images/cash-ling.jpg" alt="" class="rounded">
            </div>
        </div>
    </div>
</section>