<section class="page_breadcrumbs ls section_padding_top_25 section_padding_bottom_25 table_section table_section_md">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center text-md-left">
                <h2 class="small highlight">{{breadTitle}}</h2>
            </div>
            <div class="col-md-4 text-center text-md-right">
                <ol class="breadcrumb greylinks">
                    <li *ngFor="let item of breads" class="{{item.bread_class}}">
                        <a *ngIf="item.bread_class != 'active'" href="{{item.href_path}}">{{item.bread_text}}</a>
                        <span *ngIf="item.bread_class == 'active'">{{item.bread_text}}</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>