<app-header-nav [navData]="pageTitle"></app-header-nav>

<app-breadcrumbs [breadTitle]="pageTitle" [breads]="breadArray"></app-breadcrumbs>

<section class="ds section_padding_top_50 section_padding_bottom_50 columns_padding_25">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-8 col-lg-8 col-sm-push-5 col-md-push-4 col-lg-push-4">
                <h3>{{ cat_title }}</h3>
                    
                <div class="columns-2">
                    <ul class="products list-unstyled">
                        
                        <li class="product type-product" *ngFor="let productObj of productsArray">
                            <div class="vertical-item content-padding text-center with_background rounded">
                                <div class="item-media top_rounded overflow_hidden"> <img src="{{thumb_path}}{{ productObj.pictures[0].image_title }}" alt="" />
                                    <div class="media-links no-overlay"> <a href="./product/{{ productObj.product_slug }}" class="abs-link"></a> </div>
                                </div>
                                <div class="item-content">
                                    <div class="small-text item-meta content-justify vertical-center">
                                        <div class="price"> 
                                            <ins>
                                                <span class="amount">${{ productObj.product_price | number:'2.2' }}</span>
                                            </ins> 
                                        </div>
                                        <div>Items Left: {{ productObj.items_left }}</div>
                                    </div>
                                    <h4 class="entry-title"> <a href="./product/{{ productObj.product_slug }}">{{ productObj.product_name }}</a> </h4>
                                    <p class="content-2lines-ellipsis">{{ productObj.product_description }}</p>
                                    <p class="topmargin_25"> 
                                        <a href="javascript:void();" (click)="add_to_cart( productObj.id )" class="theme_button color1 min_width_button">Add to cart</a> 
                                    </p>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
                <!-- eof .columns-* -->
            </div>
            <aside class="col-sm-5 col-md-4 col-lg-4 col-sm-pull-7 col-md-pull-8 col-lg-pull-8">
                <div class="widget widget_search">
                    <h3 class="widget-title">Search</h3>
                    
                        <div class="form-group"> <label class="sr-only" for="widget-search">Search for:</label> <input type="text" value="" name="search" class="form-control" placeholder="Search Keyword"> </div> <button type="submit" class="theme_button color1 no_bg_button">Search</button>
                    
                </div>
                <div class="widget widget_shop_categories">
                    <h3 class="widget-title">All Categories</h3>
                    <ul class="list2 checklist greylinks">
                        <li *ngFor="let categoryObj of categoriesArray"> <a href="./store/{{ categoryObj.category_slug }}">{{ categoryObj.category_title }}</a> </li>
                    </ul>
                </div>
                <div class="widget widget_shopping_cart">
                    <h3 class="widget-title">Your Cart</h3>
                    <div class="widget_shopping_cart_content">
                        <ul class="cart_list product_list_widget ">
                            <li class="media">
                                <div class="media-left media-middle"> <a href="javascript:void();">
                    <img src="./assets/images/shop/01-thumb.jpg" class="muted_background" alt="">
                </a> </div>
                                <div class="media-body"> <span class="highlightlinks">
                    <a href="#" class="remove" title="Remove this item"></a>
                </span>
                                    <h4> <a href="javascript:void();">Drumstick short ribs</a> </h4>
                                    <div class="star-rating small-stars" title="Rated 4.0 out of 5"> <span style="width:80%">
                        <strong class="rating">4.0</strong> out of 5
                    </span> </div> <span class="product-quantity">
                    <span>1  x </span> <span class="price">$56.69</span> </span>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left media-middle"> <a href="javascript:void();">
                    <img src="./assets/images/shop/02-thumb.jpg" class="muted_background" alt="">
                </a> </div>
                                <div class="media-body"> <span class="highlightlinks">
                    <a href="#" class="remove" title="Remove this item"></a>
                </span>
                                    <h4> <a href="javascript:void();">Drumstick short ribs</a> </h4>
                                    <div class="star-rating small-stars" title="Rated 4.0 out of 5"> <span style="width:60%">
                        <strong class="rating">3.0</strong> out of 5
                    </span> </div> <span class="product-quantity">
                    <span>1  x </span> <span class="price">$13.25</span> </span>
                                </div>
                            </li>
                        </ul>
                        <p class="total topmargin_10"> <span>Subtotal:</span> <span class="price">$69.94</span> </p>
                        <p class="buttons content-justify"> <a href="shop-cart-right.html" class="theme_button color1 min_width_button">View cart</a> </p>
                    </div>
                </div>
            </aside>
            <!-- eof aside sidebar -->
        </div>
    </div>
</section>