<app-header-nav [navData]="pageTitle"></app-header-nav>

<app-breadcrumbs [breadTitle]="pageTitle" [breads]="breadArray"></app-breadcrumbs>

<section class="ds ms section_padding_top_50 section_padding_bottom_130 columns_padding_25">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="columns-3">
                    <ul id="products" class="products list-unstyled">
                        <li class="product type-product">
                            <div class="vertical-item content-padding text-center with_background rounded">
                                <div class="item-media top_rounded overflow_hidden"> <img src="./assets/images/shop/01.jpg" alt="" />
                                    <div class="media-links no-overlay"> <a href="#0" class="abs-link"></a> </div>
                                </div>
                                <div class="item-content">
                                    <div class="small-text item-meta content-justify vertical-center">
                                        <div class="price"> <ins>
                                    <span class="amount">$45,99</span>
                                </ins> </div>
                                        <div class="star-rating" title="Rated 4.0 out of 5"> <span style="width:80%">
                                    <strong class="rating">4.0</strong> out of 5
                                </span> </div>
                                    </div>
                                    <h4 class="entry-title"> <a href="shop-product-right.html">Gray T-Shirt</a> </h4>
                                    <p class="content-3lines-ellipsis">Bresaola pork belly brisket jowl beef pork loin ground round alcatra t-bone short loin. Kielbasa chicken alcatra.</p>
                                    <p class="topmargin_25"> <a href="#" class="theme_button color1 min_width_button">
                                Add to cart
                            </a> </p>
                                </div>
                            </div>
                        </li>
                        <li class="product type-product">
                            <div class="vertical-item content-padding text-center with_background rounded">
                                <div class="item-media top_rounded overflow_hidden"> <img src="./assets/images/shop/02.jpg" alt="" />
                                    <div class="media-links no-overlay"> <a href="#0" class="abs-link"></a> </div>
                                </div>
                                <div class="item-content">
                                    <div class="small-text item-meta content-justify vertical-center">
                                        <div class="price"> <ins>
                                    <span class="amount">$25,99</span>
                                </ins> </div>
                                        <div class="star-rating" title="Rated 3.0 out of 5"> <span style="width:60%">
                                    <strong class="rating">3.0</strong> out of 5
                                </span> </div>
                                    </div>
                                    <h4 class="entry-title"> <a href="shop-product-right.html">White Cap</a> </h4>
                                    <p class="content-3lines-ellipsis">Bresaola pork belly brisket jowl beef pork loin ground round alcatra t-bone short loin. Kielbasa chicken alcatra.</p>
                                    <p class="topmargin_25"> <a href="#" class="theme_button color1 min_width_button">
                                Add to cart
                            </a> </p>
                                </div>
                            </div>
                        </li>
                        <li class="product type-product">
                            <div class="vertical-item content-padding text-center with_background rounded">
                                <div class="item-media top_rounded overflow_hidden"> <img src="./assets/images/shop/03.jpg" alt="" />
                                    <div class="media-links no-overlay"> <a href="#0" class="abs-link"></a> </div>
                                </div>
                                <div class="item-content">
                                    <div class="small-text item-meta content-justify vertical-center">
                                        <div class="price"> <ins>
                                    <span class="amount">$95,99</span>
                                </ins> </div>
                                        <div class="star-rating" title="Rated 4.5 out of 5"> <span style="width:90%">
                                    <strong class="rating">4.5</strong> out of 5
                                </span> </div>
                                    </div>
                                    <h4 class="entry-title"> <a href="shop-product-right.html">Brown Sweater</a> </h4>
                                    <p class="content-3lines-ellipsis">Bresaola pork belly brisket jowl beef pork loin ground round alcatra t-bone short loin. Kielbasa chicken alcatra.</p>
                                    <p class="topmargin_25"> <a href="#" class="theme_button color1 min_width_button">
                                Add to cart
                            </a> </p>
                                </div>
                            </div>
                        </li>
                        <li class="product type-product">
                            <div class="vertical-item content-padding text-center with_background rounded">
                                <div class="item-media top_rounded overflow_hidden"> <img src="./assets/images/shop/04.jpg" alt="" />
                                    <div class="media-links no-overlay"> <a href="#0" class="abs-link"></a> </div>
                                </div>
                                <div class="item-content">
                                    <div class="small-text item-meta content-justify vertical-center">
                                        <div class="price"> <ins>
                                    <span class="amount">$109,99</span>
                                </ins> </div>
                                        <div class="star-rating" title="Rated 3.5 out of 5"> <span style="width:70%">
                                    <strong class="rating">3.5</strong> out of 5
                                </span> </div>
                                    </div>
                                    <h4 class="entry-title"> <a href="shop-product-right.html">gray sweatshirt</a> </h4>
                                    <p class="content-3lines-ellipsis">Bresaola pork belly brisket jowl beef pork loin ground round alcatra t-bone short loin. Kielbasa chicken alcatra.</p>
                                    <p class="topmargin_25"> <a href="#" class="theme_button color1 min_width_button">
                                Add to cart
                            </a> </p>
                                </div>
                            </div>
                        </li>
                        <li class="product type-product">
                            <div class="vertical-item content-padding text-center with_background rounded">
                                <div class="item-media top_rounded overflow_hidden"> <img src="./assets/images/shop/04.jpg" alt="" />
                                    <div class="media-links no-overlay"> <a href="#0" class="abs-link"></a> </div>
                                </div>
                                <div class="item-content">
                                    <div class="small-text item-meta content-justify vertical-center">
                                        <div class="price"> <ins>
                                    <span class="amount">$109,99</span>
                                </ins> </div>
                                        <div class="star-rating" title="Rated 3.5 out of 5"> <span style="width:70%">
                                    <strong class="rating">3.5</strong> out of 5
                                </span> </div>
                                    </div>
                                    <h4 class="entry-title"> <a href="shop-product-right.html">gray sweatshirt</a> </h4>
                                    <p class="content-3lines-ellipsis">Bresaola pork belly brisket jowl beef pork loin ground round alcatra t-bone short loin. Kielbasa chicken alcatra.</p>
                                    <p class="topmargin_25"> <a href="#" class="theme_button color1 min_width_button">
                                Add to cart
                            </a> </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- eof .columns-* -->
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <ul class="pagination">
                            <li class="disabled"><a href="#"><span class="sr-only">Prev</span><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><span class="sr-only">Next</span><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>