<app-header-nav [navData]="pageTitle"></app-header-nav>

<app-breadcrumbs [breadTitle]="pageTitle" [breads]="breadArray"></app-breadcrumbs>

<section class="ds section_padding_top_50 section_padding_bottom_50 columns_padding_25">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-8 col-lg-8 col-sm-push-5 col-md-push-4 col-lg-push-4">
                <h3>{{ cat_title }}</h3>
                
                <div class="columns-2">
                    <ul class="products list-unstyled">
                        
                        <li class="product type-product" *ngFor="let productObj of productsArray">
                            <div class="vertical-item content-padding text-center with_background rounded">
                                <div class="item-media top_rounded overflow_hidden"> <img src="{{thumb_path}}{{ productObj.pictures[0].image_title }}" alt="" />
                                    <div class="media-links no-overlay"> <a href="./product/{{ productObj.product_slug }}" class="abs-link"></a> </div>
                                </div>
                                <div class="item-content">
                                    <div class="small-text item-meta content-justify vertical-center">
                                        <div class="price"> 
                                            <ins>
                                                <span class="amount">${{ productObj.product_price | number:'2.2' }}</span>
                                            </ins> 
                                        </div>
                                        <div>Items Left: {{ productObj.items_left }}</div>
                                    </div>
                                    <h4 class="entry-title"> <a href="./product/{{ productObj.product_slug }}">{{ productObj.product_name }}</a> </h4>
                                    <p class="content-2lines-ellipsis">{{ productObj.product_description }}</p>
                                    <p class="topmargin_25"> 
                                        <button (click)="add_to_cart( productObj.id, productObj.product_price )" class="theme_button color1 min_width_button">Add to Cart</button> 
                                    </p>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
                <!-- eof .columns-* -->
            </div>
            
            <app-store-sidebar [page_title]="pageTitle" [FinalCartArray]="Final_Cart_Array" [total_price]="total_price"></app-store-sidebar>

        </div>
    </div>
</section>