<section class="page_footer ds ms page_copyright section_padding_top_40 section_padding_bottom_40">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>&copy; Copyright {{currentYear}} Welcome To Shantii’s World - All Rights Reserved.</p>
                <div> <a class="social-icon color-bg-icon round-icon socicon-facebook" href="https://www.facebook.com/shantii823" target="_blank" title="Facebook"></a> <a class="social-icon color-bg-icon round-icon socicon-twitter" href="https://twitter.com/Shantii823" target="_blank" title="Twitter"></a> <a class="social-icon color-bg-icon round-icon socicon-instagram" href="https://www.instagram.com/shantii823" target="_blank" title="Instagram"></a> <a class="social-icon color-bg-icon round-icon socicon-youtube" href="https://www.youtube.com/channel/UCR5ROZV6CI4RSxqQL8XuJtw" target="_blank" title="Youtube"></a> </div>
            </div>
        </div>
    </div>
</section>