<section id="gallery" class="ds ms padding_50">
    <h2 class="section_header with_line">Photos</h2>
    
    <div class="owl-carousel gallery-carousel" data-responsive-xlg="8" data-responsive-lg="6" data-responsive-md="5" data-responsive-sm="4" data-responsive-xs="2" data-loop="true" data-margin="0" data-nav="true">
        <div class="vertical-item corporate consulting">
            <div class="item-media"> <img src="./assets/images/gallery-square/01.jpg" alt="">
                <div class="media-links"> <a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]" title="" href="./assets/images/slide01.jpg"></a> </div>
            </div>
        </div>
        <div class="vertical-item corporate consulting">
            <div class="item-media"> <img src="./assets/images/gallery-square/02.jpg" alt="">
                <div class="media-links"> <a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]" title="" href="./assets/images/gallery/02.jpg"></a> </div>
            </div>
        </div>
        <div class="vertical-item corporate consulting">
            <div class="item-media"> <img src="./assets/images/gallery-square/03.jpg" alt="">
                <div class="media-links"> <a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]" title="" href="./assets/images/gallery/03.jpg"></a> </div>
            </div>
        </div>
        <div class="vertical-item corporate consulting">
            <div class="item-media"> <img src="./assets/images/gallery-square/04.jpg" alt="">
                <div class="media-links"> <a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]" title="" href="./assets/images/gallery/04.jpg"></a> </div>
            </div>
        </div>
        <div class="vertical-item corporate consulting">
            <div class="item-media"> <img src="./assets/images/gallery-square/05.jpg" alt="">
                <div class="media-links"> <a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]" title="" href="./assets/images/gallery/05.jpg"></a> </div>
            </div>
        </div>
        <div class="vertical-item corporate consulting">
            <div class="item-media"> <img src="./assets/images/gallery-square/06.jpg" alt="">
                <div class="media-links"> <a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]" title="" href="./assets/images/gallery/06.jpg"></a> </div>
            </div>
        </div>
        <div class="vertical-item corporate consulting">
            <div class="item-media"> <img src="./assets/images/gallery-square/07.jpg" alt="">
                <div class="media-links"> <a class="abs-link prettyPhoto" data-gal="prettyPhoto[gal]" title="" href="./assets/images/gallery/07.jpg"></a> </div>
            </div>
        </div>
        
    </div>
</section>