<aside class="col-sm-5 col-md-4 col-lg-4 col-sm-pull-7 col-md-pull-8 col-lg-pull-8">
    <div class="widget widget_search">
        <h3 class="widget-title">Search</h3>
        <div class="form-group"> <label class="sr-only" for="widget-search">Search for:</label> <input type="text" value="" name="search" class="form-control" placeholder="Search Keyword"> </div> <button type="submit" class="theme_button color1 no_bg_button">Search</button>
    </div>

    <div class="widget widget_shop_categories">
        <h3 class="widget-title">All Categories</h3>
        <ul class="list2 checklist greylinks">
            <li *ngFor="let categoryObj of categoriesArray"> <a href="./store/{{ categoryObj.category_slug }}">{{ categoryObj.category_title }}</a> </li>
        </ul>
    </div>

    <div class="widget widget_shopping_cart" *ngIf="page_title != 'Cart'">
        <h3 class="widget-title">Your Cart</h3>
        <div class="widget_shopping_cart_content">
            <ul class="cart_list product_list_widget ">
                
                <li class="media" *ngFor="let cartItem of FinalCartArray">
                    <div class="media-left media-middle"> 
                        <a href="./product/{{ cartItem.product_slug }}">
                            <img src="{{thumb_path}}{{ cartItem.pictures[0].image_title }}" class="muted_background" alt="">
                        </a> 
                    </div>
                    <div class="media-body"> 
                        <span class="highlightlinks">
                            <button (click)="remove_item_from_cart( cartItem.id )"class="remove" title="Remove this item"></button>
                        </span>
                        <h4> <a href="./product/{{ cartItem.product_slug }}">{{ cartItem.product_name }}</a> </h4>
                        
                        <span class="product-quantity">
                            <span>{{ cartItem.total_items | number }}  x </span> <span class="price">${{ cartItem.product_price | number:'2.2' }}</span> 
                        </span>

                        <div class="product-quantity"> 
                            <span>Subtotal: </span> <span class="price">${{ cartItem.subtotal | number:'2.2' }}</span>
                        </div> 
                    </div>
                </li>

            </ul>

            <p class="total topmargin_10"> <span>Total: </span> <span class="price">${{ total_price | number:'2.2' }}</span> </p>
            <p class="buttons content-justify"> <a href="./cart" class="theme_button color1 min_width_button">View cart</a> </p>
        </div>
    </div>
</aside>
<!-- eof aside sidebar -->