<section id="contact" class="ds ms background_cover page_contact padding_top_130">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-6 text-center">
                <h2 class="section_header with_line">Contact for Booking</h2>

                <div class="alert alert-success" role="alert" *ngIf="submitSuccess">
                    Thank you for Contacting Us. <br>
                    We'll get back to you soon.
                </div>
                
                <form class="contact-form columns_padding_10 topmargin_30" [formGroup]="contactForm" (ngSubmit)="onContactFormSubmit()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group margin_0"> <label for="full_name">Full Name <span class="required">*</span></label> <input type="text" formControlName="full_name" class="form-control" placeholder="Full Name*"> </div>

                            <div class="alert alert-danger" role="alert" *ngIf="(contactFormControl.full_name.touched || submitted) && contactFormControl.full_name.errors?.required">
                                <strong>Full Name</strong> is required.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group margin_0"> <label for="phone_number">Phone Number </label> <input type="text" formControlName="phone_number" class="form-control" placeholder="Phone Number"> </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group margin_0"> <label for="email">Email address<span class="required">*</span></label> <input type="email" formControlName="email" class="form-control" placeholder="Email Address*"> </div>

                            <div class="alert alert-danger" role="alert" *ngIf="(contactFormControl.email.touched || submitted) && contactFormControl.email.errors?.required">
                                <strong>Email ID</strong> is required.
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="contactFormControl.email.touched && contactFormControl.email.errors?.email">
                                Invalid <strong>Email address</strong>.
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group margin_0"> <label for="name">Subject <span class="required">*</span></label> <input type="text" formControlName="subject" class="form-control" placeholder="Subject*"> </div>

                            <div class="alert alert-danger" role="alert" *ngIf="(contactFormControl.subject.touched || submitted) && contactFormControl.subject.errors?.required">
                                <strong>Subject</strong> is required.
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group margin_0"> <label for="message">Message <span class="required">*</span></label> <textarea rows="5" cols="45" formControlName="message" class="form-control" placeholder="Your Message*"></textarea> </div>

                            <div class="alert alert-danger" role="alert" *ngIf="(contactFormControl.message.touched || submitted) && contactFormControl.message.errors?.required">
                                <strong>Message</strong> is required.
                            </div>
                        </div>
                    </div>
                    <div class="row topmargin_20">
                        <div class="col-sm-12">
                            <div class="contact-form-submit text-center"> 
                                <button type="submit" name="contact_submit" class="theme_button color1 min_width_button" *ngIf="!btnLoader">Send message</button>

                                <img src="./assets/images/btn_loader.gif" *ngIf="btnLoader">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>