<footer class="page_footer ds section_padding_top_100 section_padding_bottom_100 columns_padding_25">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="widget widget_text">
                    <h4 class="widget-title with_line"> My Contacts </h4>
                    <div>
                        <div class="media small-media inline-block">
                            <div class="media-left"> <i class="fa fa-map-marker highlight" aria-hidden="true"></i> </div>
                            <div class="media-body"> 140 Horizon Circle, New York, California </div>
                        </div><br>
                        <div class="media small-media inline-block">
                            <div class="media-left"> <i class="fa fa-phone highlight" aria-hidden="true"></i> </div>
                            <div class="media-body"> 1-888-652-2588 </div>
                        </div><br>
                        <div class="media small-media inline-block">
                            <div class="media-left"> <i class="fa fa-pencil highlight" aria-hidden="true"></i> </div>
                            <div class="media-body"> rachel_fan@example.com </div>
                        </div><br>
                        <div class="media small-media greylinks inline-block">
                            <div class="media-left"> <i class="fa fa-internet-explorer highlight" aria-hidden="true"></i> </div>
                            <div class="media-body"> <a href="#">https://www.rachelsalverz.com</a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center">
                <div class="widget widget_mailchimp">
                    <h4 class="widget-title with_line">My Newsletter</h4>
                    <form class="signup" action="./" method="get">
                        <p class="bottommargin_20">Subscribe to our mailing list to receive new updates and special offers:</p>
                        <div class="form-group-wrap">
                            <div class="form-group"> <label for="mailchimp" class="sr-only">Enter your email here</label> <input name="email" type="email" id="mailchimp" class="mailchimp_email form-control" placeholder="Your Email Address*"> </div> <button type="submit" class="theme_button color1 no_bg_button">Subscribe</button>										</div>
                        <div class="response"></div>
                    </form>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center">
                <div class="widget widget_recent_entries">
                    <h4 class="widget-title with_line">Recent Posts</h4>
                    <ul class="greylinks">
                        <li>
                            <p class="bottommargin_0"> <a href="blog-single-left.html">Rachel Featured As One Of TIME's Women</a> </p> <span class="entry-date small-text highlight">
                    <time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
                        April 04, 2017
                    </time>
                </span> </li>
                        <li>
                            <p class="bottommargin_0"> <a href="blog-single-left.html">Rachel Covers Business Of Fashion's Print Edition</a> </p> <span class="entry-date small-text highlight">
                    <time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
                        March 26, 2017
                    </time>
                </span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>